// $theme-light: #f0f8ff;
// $theme-bg: #0c8195;
// $theme-active-text-color: #0c8195;//#f1c111;

$theme-light: #ffffff;
$theme-color: #FCFBFA;
$theme-active-text-color :#346CB0;
$theme-font-color: #5e6e82;
$theme-shadow-color: #ccc;
$theme-font-weight: 700;
$theme-font-size: 14px;
$theme-box-shadow: 0px 0px 5px 2px #dee2e6;
$theme-border-radius: 4px;

body {
    background: $theme-light;
}
.navbar.navbar-top {
    background-color: $theme-color;
    min-height: 70px;
}
.jsc-content-space:not(.jsc-editor) {
    padding-top: 10px;
    line-height: 32px;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    text-align: justify;
    word-break: break-word;
    .card {
        .card-body {
            h5 {
                color: $theme-active-text-color;
                font-weight: bold;
            }
        }
    }
}
@media (min-width: 100px) {
    .jsc-topic-image {
        img {
            width: 100%;
        }
    }
}
@media (min-width: 425px) {
    .jsc-topic-image {
        img {
            width: 80%;
        }
    }
}
@media (min-width: 630px) {
    .jsc-topic-image {
        img {
            width: 60%;
        }
    }
}
@media (min-width: 768px) {
    .jsc-topic-image {
        img {
            width: 50%;
        }
    }
}

.jsc-icon-rotation-180 {
    transform: translate3d(0%, 18%, 0) rotate(-180deg);
    transition: 0.5s;
}
.jsc-icon-rotation-0 {
    transform: translate3d(0%, 18%, 0) rotate(0deg);
    transition: 0.5s;
}
.ms-auto {
    margin-left: auto !important;
}
@media (min-width: 1200px) {
    .navbar .jsc-logo-content {
        padding: 8.7px 0px 8.7px 16px !important;
        margin-right: -1px;
    }
    .container-fluid {
        padding-left: 0px;
    }
    main.navbar-vertical-collapsed {
        .card {
            margin-left: 6px;
        }
    }
}
@media (max-width: 767px) {
    .jsc-theme-tabs {
        padding-top: 8px;
    }
}
.navbar .jsc-logo-content {
    padding: 0px;
    background-color: $theme-color;
    // box-shadow: 0px 1px 10px $theme-shadow-color;
    border-bottom: 1px solid $theme-active-text-color;
}

.jsc-routing-content {
    padding-top: 16px;
}

.navbar {
    background-color: $theme-light;
    
    .navbar-collapse {
        padding-left: 16px;
    }

    
}
.navbar.navbar-top {
    //box-shadow: 0px 10px 8px -10px $theme-shadow-color;
    border-bottom: 1px solid $theme-active-text-color;
}

.user-menu {
    visibility: hidden;
}

.navbar {
    .navbar-nav.topics { 
        li {
            padding: 0px 7px;
            a.active {
                padding: 5px;
                border: 1px solid $theme-active-text-color;
                border-radius: 5px;
                background: $theme-active-text-color;
                color: white;
                text-decoration: none;
                font-weight: 700;
                font-size: 14px;
            }
            a:hover {
                padding: 5px;
                border: 1px solid $theme-active-text-color;
                border-radius: 5px;
                background: $theme-active-text-color;
                color: white;
                text-decoration: none;
            }
            a {
                padding: 5px;
                border: 1px solid transparent;
                border-radius: 5px;
                background: transparent;
                color: $theme-font-color;
                text-decoration: none;
                font-size: 0.8125rem;
                flex-flow: column nowrap;
            }
        }
    }
    .navbar-vertical-content {
        .nav-item {
            a:hover, a.active {
                text-decoration: none;
                color: $theme-active-text-color !important;
                font-weight: $theme-font-weight;
                font-size: $theme-font-size;
                color: $theme-font-color;
                font-weight: 700;
                font-size: 14px;
                a {
                    color: $theme-active-text-color !important; 
                }
            }
            a {
                color: $theme-font-color;
                font-size: 0.8125rem;
                flex-flow: column nowrap;
            }
            .nav {
                .nav-link {
                    padding: 0.3rem 1.8rem;
                }
            }
        }
    }
}
::-webkit-scrollbar {
    width:0px;
}
// #navbarVerticalCollapse:hover {
//     ::-webkit-scrollbar {
//         width:4px;
//       }
// }
// ::-webkit-scrollbar {
//     width:0px;
// }
//  ::-webkit-scrollbar-thumb {
//    background: $theme-active-text-color; 
//    border-radius: 10px;
//  }
  

// Editor Tabs

// Editor Tabs

//Card Specific css
.card {
    box-shadow: $theme-box-shadow;
    .card-header {
        background-color: $theme-active-text-color;
        color: $theme-light;
        button {
            color: $theme-light;
        }
        .dropdown-toggle::after {
            display: none;
        }
    }
    
}
//Card specific css

//Code mirror Css
.jsc-code-mirror-wrapper {
    font-size: 13px;
    line-height: 23px;
}
  