body {
  background: #ffffff;
}

.navbar.navbar-top {
  background-color: #FCFBFA;
  min-height: 70px;
}

.jsc-content-space:not(.jsc-editor) {
  padding-top: 10px;
  line-height: 32px;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 21px;
  text-align: justify;
  word-break: break-word;
}

@media (min-width: 100px) {
  .jsc-topic-image img {
    width: 100%;
  }
}

@media (min-width: 425px) {
  .jsc-topic-image img {
    width: 80%;
  }
}

@media (min-width: 630px) {
  .jsc-topic-image img {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .jsc-topic-image img {
    width: 50%;
  }
}

.jsc-icon-rotation-180 {
  -webkit-transform: translate3d(0%, 18%, 0) rotate(-180deg);
          transform: translate3d(0%, 18%, 0) rotate(-180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.jsc-icon-rotation-0 {
  -webkit-transform: translate3d(0%, 18%, 0) rotate(0deg);
          transform: translate3d(0%, 18%, 0) rotate(0deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ms-auto {
  margin-left: auto !important;
}

@media (min-width: 1200px) {
  .navbar .jsc-logo-content {
    padding: 8.7px 0px 8.7px 16px !important;
    margin-right: -1px;
  }
  .container-fluid {
    padding-left: 0px;
  }
  main.navbar-vertical-collapsed .card {
    margin-left: 6px;
  }
}

@media (max-width: 767px) {
  .jsc-theme-tabs {
    padding-top: 8px;
  }
}

.navbar .jsc-logo-content {
  padding: 0px;
  background-color: #FCFBFA;
  border-bottom: 1px solid #346CB0;
}

.jsc-routing-content {
  padding-top: 16px;
}

.navbar {
  background-color: #ffffff;
}

.navbar .navbar-collapse {
  padding-left: 16px;
}

.navbar.navbar-top {
  border-bottom: 1px solid #346CB0;
}

.user-menu {
  visibility: hidden;
}

.navbar .navbar-nav.topics li {
  padding: 0px 7px;
}

.navbar .navbar-nav.topics li a:hover, .navbar .navbar-nav.topics li a.active {
  padding: 5px;
  border: 1px solid #346CB0;
  border-radius: 5px;
  background: #346CB0;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.navbar .navbar-nav.topics li a {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: transparent;
  color: #5e6e82;
  text-decoration: none;
  font-size: 0.8125rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.navbar .navbar-vertical-content .nav-item a:hover, .navbar .navbar-vertical-content .nav-item a.active {
  text-decoration: none;
  color: #346CB0 !important;
  font-weight: 700;
  font-size: 14px;
  color: #5e6e82;
  font-weight: 700;
  font-size: 14px;
}

.navbar .navbar-vertical-content .nav-item a:hover a, .navbar .navbar-vertical-content .nav-item a.active a {
  color: #346CB0 !important;
}

.navbar .navbar-vertical-content .nav-item a {
  color: #5e6e82;
  font-size: 0.8125rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.navbar .navbar-vertical-content .nav-item .nav .nav-link {
  padding: 0.3rem 1.8rem;
}

::-webkit-scrollbar {
  width: 0px;
}

.jsc-theme-tabs.nav-tabs {
  margin: 0;
}

.jsc-theme-tabs.nav-tabs .nav-item {
  padding: 3px 8px;
  color: #5e6e82;
}

.jsc-theme-tabs.nav-tabs .nav-item.active {
  color: #346CB0;
  border-color: #346CB0;
  border-bottom: none;
}

.jsc-theme-tabs.nav-tabs .nav-item:hover {
  color: #346CB0;
}

.jsc-theme-tabs.nav-tabs .nav-link {
  font-weight: 700;
  font-size: 14px;
}

.tab-content {
  border: 1px solid #346CB0;
  border-radius: 4px;
}

.tab-content .tab-pane {
  height: 400px;
}

.card {
  -webkit-box-shadow: 0px 0px 5px 2px #dee2e6;
          box-shadow: 0px 0px 5px 2px #dee2e6;
}

.card .card-header {
  background-color: #346CB0;
  color: #ffffff;
}

.card .card-header button {
  color: #ffffff;
}

.card .card-header .dropdown-toggle::after {
  display: none;
}
/*# sourceMappingURL=style.css.map */