#consoleWindow * {
    font-family: Menlo, monospace;
}
#consoleWindow {
    height: 100%;
    overflow: scroll;
    ul {
        padding: 0;
        li {
            line-height: 1.2;
            list-style: none;
            padding-left: 15px;
            .json-formatter-row span  {
                font-style: italic;
                font-size: 13px;
                .json-formatter-string {
                    font-style: normal;
                }
            }
        }
        hr {
            margin: 0;
        }
    }
    .console-header {
        background-color: #F0F0F0;
        padding-left: 15px;
        border-bottom: 1px solid #9d9d9d;
        font-weight: 800;
        position: sticky;
        top: 0;
        z-index: 1000;
        span {
            float: right;
            padding-right: 5px;
            color: red;
        }
        span:hover {
            cursor: pointer;
        }
    }
}
.jsc-editor {
    font-size: 13px;
    line-height: 23px;
}
.jsc-editor {
    #consoleWindow {
        border: 1px solid #9d9d9d;
        border-radius: 4px;
    }
}
//Editor Css
.jsc-code-mirror-wrapper {
    .CodeMirror-wrap {
        height: 150px;
        border: 1px solid #9d9d9d;
        border-radius: 5px;
    }
}
//Editor Css

