#consoleWindow * {
    font-family: Menlo, monospace;
}
#consoleWindow {
    height: 100%;
    overflow: scroll;
    ul {
        padding: 0;
        li {
            line-height: 1.2;
            list-style: none;
            padding-left: 15px;
        }
        hr {
            margin: 0;
        }
    }
    .console-header {
        background-color: #F0F0F0;
        padding-left: 15px;
        border-bottom: 1px solid #9d9d9d;
        span {
            float: right;
            padding-right: 5px;
            color: red;
        }
        span:hover {
            cursor: pointer;
        }
    }
}

