$editor-border-radius: 5px;

.jsc-editor * {
    font-family: Menlo, monospace;
}
.jsc-editor {
    font-size: 13px;
    line-height: 23px;
    .console-window {
        min-height: 175px;
        max-height: 325px;
        height: 325px;
        overflow: scroll;
        border: 1px solid #9d9d9d;
        border-radius: $editor-border-radius;
        transition: 300ms;
        //New css
        div[data-method="log"]  {
            border-bottom: 1px solid #9d9d9d;
            padding: 0px;
            div[data-type="string"] {
                color: black;
            }
        }
        //New Css
        ul {
            padding: 0;
            li {
                line-height: 1.2;
                list-style: none;
                padding-left: 15px;
                .json-formatter-row span  {
                    font-style: italic;
                    font-size: 13px;
                    .json-formatter-string {
                        font-style: normal;
                    }
                }
            }
            hr {
                margin: 0;
            }
        }
        .console-header {
            background-color: #F0F0F0;
            padding-left: 15px;
            border-bottom: 1px solid #9d9d9d;
            font-weight: 800;
            border-top-left-radius: $editor-border-radius;
            border-top-right-radius: $editor-border-radius;
            position: sticky;
            top: 0;
            z-index: 1000;
            span {
                padding-right: 5px;
                svg {
                    color: red;
                    font-size: 15px;
                }
            }
            span:hover {
                cursor: pointer;
            }
        }
    }
    .js-editor-window {
        border: 1px solid #9d9d9d;
        border-radius: $editor-border-radius;
        .js-editor-header {
            background-color: #F0F0F0;
            padding-left: 15px;
            border-bottom: 1px solid #9d9d9d;
            font-weight: 800;
            position: sticky;
            top: 0;
            z-index: 1000;
            border-top-left-radius: $editor-border-radius;
            border-top-right-radius: $editor-border-radius;
            span {
                padding-right: 5px;
                svg {
                    color: green;
                    font-size: 15px;
                }
            }
            span:hover {
                cursor: pointer;
            }
        }
    }
}

.jsc-editor.run-mode {
    .jsc-code-mirror-wrapper {
        .CodeMirror-wrap {
            height: 300px !important;
        }
    }
    .console-window {
        height: 325px !important;
    }
}

//Editor Css
.jsc-code-mirror-wrapper {
    .CodeMirror-wrap {
        //height: 150px;
        max-height: 300px;
        border: 1px solid #9d9d9d;
        border-radius: $editor-border-radius;
        transition: 300ms;
    }
}
#code-mirror-editor {
    position: relative;
    .play-button {
        color: rgb(29, 161, 242);
        position: absolute;
        z-index: 1000;
        top: -5px;
        right: 0%;
    }
}
//Editor Css

//JSON Formatter CSS
.json-formatter-row {
    display: inline;
}
//JSON Formatter CSS
